<!-- Top Bar Start -->
<div class="top-bar">

  <!-- Logo start -->
  <a href="/" class="logo">
    <%= image_tag("ph_logo.png", alt: "Healthcare System", height: "46px", width: "69px") %>
    &nbsp;<font color="#fff">Healthcare</font>
  </a>
  <!-- Logo end -->

  <!-- Mini Nav Left Start -->
  <ul id="mini-nav" class="hidden-xs" rel="tooltip" title="Hide Navigation Pane" >
    <li class="arrow-box list-box">
      <a href="#">
        <i class="icon-reorder text-info"></i>
      </a>
    </li>
    <li class="dropdown list-box">
      <a href="#" class="sb-open-right sb-close">
        <i class="icon-user text-info"></i>
      </a>
    </li>
  </ul>
  <!-- Mini Nav Left End -->

  <!-- Mini Nav Right Start -->
  <ul id="mini-nav-right">
    <li class="list-box hidden-xs" rel="tooltip" title="Help">
      <a href="#" class="page-help-menu">
        <i class="icon-question"></i>
      </a>
    </li>
    <li class="list-box hidden-lg hidden-md hidden-sm" id="mob-nav">
      <a href="#">
        <span>Menu</span>
        <i class="icon-reorder"></i>
      </a>
    </li>
  </ul>
  <!-- Mini Nav Right End -->

</div>
<!-- Top Bar End -->
